@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
   /* black */
  --color-primary: #403F3F; 
  /* red  */
  --color-secondary: #d32f2f;
  --color-base-200: #F3F3F3;
  --color-base-300: #e7e7e7;
  /* gray */
  --color-accent: #706F6F;
}
@plugin "daisyui/theme" {
  name: "dark";
  default: true;

  --color-primary: #403F3F;
  --color-secondary: #D72050;
  /* --color-base-200: #F3F3F3;
  --color-base-300: #e7e7e7;
  --color-accent: #706F6F; */
}

